POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=tews_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
SCRAPER_CRON_ENABLED=true
SCRAPER_CRON_INTERVAL_MINUTES=5
SCRAPER_RUN_ON_STARTUP=true
APP_PORT=8000
